<p>courses works!</p>
<h2>{{ title }}</h2>
<h2 [textContent]="title"></h2>
<img src="{{ imageUrl }}" />
<img [src]="imageUrl" />
<div *ngIf="courses.length; then isCourses else noCourses"></div>
<ng-template #isCourses>
  <ul>
    <li *ngFor="let course of courses; index as i; trackBy: trackCourse">
      {{i}}{{ course.name }}
    </li>
  </ul>
</ng-template>
<ng-template #noCourses>
  No courses yet
</ng-template>
<table>
  <tr>
    <td [attr.colspan]="colSpan">colSpan</td>
  </tr>
</table>
<button class="btn btn-primary" [class.active]="isActive">btn-primary</button>
<button [style.backgroundColor]="isActive ? 'blue' : 'white'">
  btn-primary
</button>

<div (click)="onDivAfterSave()">
  <button (click)="onSave($event)">onSave</button>
</div>

<input (keyup.enter)="onKeyUpFilterEnter($event)" />
<input #email (keyup.enter)="onKeyUpBindInputVal(email.value)" />
<input
  [value]="emailTwo"
  (keyup.enter)="emailTwo = $event.target.value; onKeyUpTwoWayBindInputVal()"
/>
<input
  [(ngModel)]="emailThree"
  (keyup.enter)="onKeyUpTwoWayBindNGModelInputVal()"
/>
<h3>{{ textPipe | summary: 10 }}</h3>

<app-favorite
  [isFavorite]="post.isFavorite"
  [is-favorite-alias]="post.isFavorite"
  (changeMy)="onFavChange($event)"
></app-favorite>
